{% extends 'base.html.twig' %}

{% block title %}
Control de Usuarios
{% endblock %}

{# Plantilla de body #}
{% block body %}
<!--body-->

<div class="container my-5">
    <h1 class="mt-4 mb-3">
        <small>Todos los usuarios</small>
    </h1>

    <!-- /.row -->
    <div class="container my-5">

        <div class="row">


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.Id }}</td>
                        <td>{{ usuario.Email }}</td>
                        <td>{{ usuario.Username }}</td>
                        <td><a href="{{path('registro',{usuario':usuario.id})}}" class="btn btn-primary">Editar</a></td>
                        <td><a href="{{path('registro',{'id':usuario.id})}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            


        </div>
    </div>
</div>



{% endblock %}